p{
  font-family: Roboto,Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}
body{
  background-color: rgb(246, 246, 246);
  margin: 0px;
  padding-top: 75px;
  padding-left: 95px;
 padding-right: 24px;
  padding-bottom: 3000px;
}