.thumbnail{
  width: 100%;
}

.video-title{
margin-top: 0px;
font-weight: 500;
margin-bottom: 10px;

} 

.vedio-stats{
display: inline-block;

}

.vedio-info-grid{
 display: grid;
 grid-template-columns: 50px 1fr;
}

.profile-picture{
 width: 36px;
 border-radius: 50px;
 
}
.thumbnail-row{
  position: relative;
 margin-bottom: 8px;
}
.vedio-author,
.vedio-stats{
 font-size: 12px;
 color: rgb(96, 96, 96);
}
.vedio-author{
 margin-bottom: 4px;
}
.vedio-grid{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 row-gap: 40px;
 column-gap: 15px;
}
.vedio-time{
  font-family: Roboto,Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 4px;
  border-radius: 3px;
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: black;
  color: white;
}